# Copyright 2024-2026 Nick Brassel (@tzarc)
# SPDX-License-Identifier: GPL-2.0-or-later
export UV_LINK_MODE=copy

deactivate 2>/dev/null || true
layout python

if ! command -v uv &>/dev/null; then
    pip install uv
fi

if ! command -v pre-commit &>/dev/null; then
    uv pip install pre-commit
fi

if [ ! -e .git/hooks/pre-commit ]; then
    pre-commit install
fi

[ "$(uname -s)" == "Linux" ] &&
    export TC_WORKDIR=/t &&
    export EXECUTE_UNDER_DOCKER=1
